<h1>Noe Molina</h1>

<p>
Ingeniero en Sistemas Computacionales especializado en desarrollo de software y aplicaciones web fullstack. Experiencia en la construcción de soluciones escalables utilizando Angular, TypeScript, Node.js y Express, aplicando buenas prácticas de desarrollo, principios SOLID y arquitecturas desacopladas.
Me enfoco en desarrollar soluciones mantenibles y de calidad, trabajando de forma colaborativa bajo metodologías ágiles y manteniendo un aprendizaje continuo para mejorar constantemente como profesional.
</p>

<div class="social-links">
    <a href="https://github.com/NoeMolina" target="_blank" rel="noopener">
        <i class="fa-brands fa-github-alt"></i>
    </a>
    <a href="https://www.linkedin.com/in/noe-molina/" target="_blank" rel="noopener">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="mailto:noeml130302@gmail.com">
        <i class="fas fa-envelope"></i>
    </a>
    <a href="assets/CV_Noe-Molina.pdf" target="_blank" rel="noopener">
        <i class="fas fa-file-alt"></i>
        CV
    </a>
</div>