<h1>Noe Molina</h1>

<p>
Ingeniero en sistemas especializado en ingeniería de software Con experiencia en desarrollo de aplicaciones web fullstack. Me enfoco en entregar proyectos de calidad, trabajando de manera organizada y colaborativa; siempre busco aprender y mejorar continuamente en mi carrera profesional.
</p>

<div class="social-links">
    <a href="https://github.com/NoeMolina" target="_blank" rel="noopener">
        <i class="fa-brands fa-github-alt"></i>
    </a>
    <a href="https://www.linkedin.com/in/noe-molina/" target="_blank" rel="noopener">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="mailto:noeml130302@gmail.com">
        <i class="fas fa-envelope"></i>
    </a>
    <a href="path-to-your-cv.pdf" target="_blank" rel="noopener">
        <i class="fas fa-file-alt"></i>
        CV
    </a>
</div>